<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO6Im1NkwkYDIUxFxCX6c8Q7yLQBKJmqU</string>
	<key>GCM_SENDER_ID</key>
	<string>199387392756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skyHigh</string>
	<key>PROJECT_ID</key>
	<string>sky-high-5de8b</string>
	<key>STORAGE_BUCKET</key>
	<string>sky-high-5de8b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199387392756:ios:f0f8d398af77fca68b0ca1</string>
</dict>
</plist>